<!DOCTYPE html>
<!-- Template by quackit.com -->
<!--Login Page -->
<html>
    <head>
        <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>RailServe Login</title>
        
        <link rel="stylesheet" href="static/front_page.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">	
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>       
        <header id="header">
            <p class="home"><a href="index.html"><div class="home-image"><i class="fa fa-home"> Homepage</i></a></p>
        </header>
    </head>

    <body>
        <div id="container">
            <main id="center" class="column">
                <article>
                    <div class="container">
                      <h2><b>Device Selection</b></h2>         
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Vehicle</th>
                            <th>Hardware ID</th>
                            <th>Purpose</th>
                            <th>Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Tram 1</td>
                            <td>AAAA1</td>
                            <td>Transport Shipment A</td>
                            <td><button onclick="window.location='details1.html'" button type="button" class="btn btn-info">Details</button></td>
                          </tr>
                          <tr>
                            <td>Tram 2</td>
                            <td>BBBB2</td>
                            <td>Transport Shipment B</td>
                            <td><button onclick="window.location='details2.html'" button type="button" class="btn btn-info">Details</button></td>
                          </tr>
                          <tr>
                            <td>Tram 3</td>
                            <td>CCCC3</td>
                            <td>Transport Shipment C</td>
                            <td><button onclick="window.location='details3.html'" button type="button" class="btn btn-info">Details</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
            
                    <form id="form1" action="{{ url_for('device') }}" method="POST" class="borderless-form">
                        Search Location Info for:
                        <br>
                        <input type="datetime-local" name="start-time" id="start-time">
                        <input type="datetime-local" name="end-time" id="end-time">
                        <br>
                        <select name="device-search" id="device-search">
                            <option value="1">Device 1</option>
                            <option value="2">Device 2</option>
                            <option value="3">Device 3</option>
                        </select>
                        <button button type="submit" class="btn btn-info search-button">Submit</button>
                    </form>
            
                    <!--Display Database here!-->
                    <style>
                       #map {
                        height: 400px;
                        width: 100%;
                       }
                    </style>
            
                    <h3>Google Map</h3>

                    Latitude: <input type="text" id="myLat" value="">
                    Longitude: <input type="text" id="myLon" value="">
                    <button onclick="corMap()" class="btn btn-info">Update Coordinates</button>
                    <div id="map"></div>
                    
                    <script>
        
                      function initMap() {
                      
                        //Vehicle 1 Coordinates
                        var x = 33.9397;
                        var y = -84.5197;
                        //Vehicle 2 Coordinates
                        var a = 40.8258;
                        var b = -96.6852;
                        //Vehicle 3 Coordinates
                        var c = 34.0522;
                        var d = -118.2437;
                        
                        function corMap()
                        {
                            var x = document.getElementById("myLat").value;
                            var y  = document.getElementById("myLon").value;
                        }
                        
                        var myCenter = {lat: x, lng: y};
                        var myCenter2 = {lat: a, lng: b};
                        var myCenter3 = {lat: c, lng: d};
                        var mapCanvas = document.getElementById("map");
                        var mapOptions = {center: myCenter, zoom: 4};
                        var map = new google.maps.Map(mapCanvas, mapOptions);
                        var marker = new google.maps.Marker({position:myCenter, animation:google.maps.Animation.BOUNCE});
                        var marker2 = new google.maps.Marker({position:myCenter2, animation:google.maps.Animation.BOUNCE});
                        var marker3 = new google.maps.Marker({position:myCenter3, animation:google.maps.Animation.BOUNCE});
                          marker.setMap(map);
                          marker2.setMap(map);
                          marker3.setMap(map);
                          var infowindow = new google.maps.InfoWindow({
                        content: "Vehicle 1"});
                        var infowindow2 = new google.maps.InfoWindow({
                        content: "Vehicle 2"});
                        var infowindow3 = new google.maps.InfoWindow({
                        content: "Vehicle 3"});
                         // Zoom to 9 when clicking on marker
                        google.maps.event.addListener(marker,'click',function() {
                            map.setZoom(9);
                            map.setCenter(marker.getPosition());
                        });

                        infowindow.open(map,marker);
                        infowindow2.open(map,marker2);
                        infowindow3.open(map,marker3);
                      }
                    </script>
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPYnUWFD4QdPmpw8d8iYBqZCaY_rnbTw8&callback=initMap">
                    </script>
                    </br>
                    </br>
                    </br>
                </article>								
            </main>

            <nav id="left" class="column">
                <h3>Sort By:</h3>
                <ul>
                <!--SQL Statements to provide certain ordering-->
                <!--Chronological-->
                    <li><a href="#">Date</a></li>
                    <!--Farthest to lowest? -->
                    <li><a href="#">Distance</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Activity</a></li>
                    <li><a href="#">Inactivity</a></li>
                </ul>                
            </nav>

            <div id="right" class="column">
                <h3>Right heading</h3>
                <p>Far and away the best prize that life has to offer is the chance to work hard at work worth doing.</p>
            </div>

        </div>

        <div id="footer-wrapper">
            <footer id="footer"><p>RailServe</p></footer>
        </div>
        <script>

            $('#form1').on('submit',function(){
                console.log(document.getElementById("start-time").value)
                console.log(document.getElementById("end-time").value)
                console.log(document.getElementById("device-search").value)
                window.localStorage.setItem("startTime", document.getElementById("start-time").value);
                window.localStorage.setItem("endTime", document.getElementById("end-time").value);
                window.localStorage.setItem("deviceNumber", document.getElementById("device-search").value);
            });
           
        </script> 
    </body>
</html>
